.mobile-nav-stars-top {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.mobile-nav-stars-bottom2 {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
}
.z-index-100 {
  position: relative;
  z-index: 100;
}

.storyline {
  color: white;
  margin: 0 auto;
  padding: 0 2rem;

  max-width: 1800px;

  display: flex;
  flex-direction: column;
  gap: 16px;

  font-family: "video";
  font-style: normal;
  font-weight: 350;

  h2 {
    font-size: 40px;
  }

  p {
    font-size: 16px;
  }
}
